rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // MODO LOCKDOWN v1.6.0
    // Apenas o usuário mestre tem acesso a qualquer documento
    match /{document=**} {
      // Permitir leitura e escrita para qualquer usuário autenticado com chave mestre
      allow read, write: if request.auth != null && request.auth.uid == 'UUO02HfjgtSPYzigI0Vt9QhfCO62';
    }
  }
}
